.formContainer {
	max-width: 600px;
	margin: 0 auto;
	padding: 2rem;
	background: white;
	border-radius: 10px;
 }
 
 .title{
	margin-bottom: 1.5rem;
	text-align: center;
	color: hsl(213, 96%, 18%);
 }

 .addPersonForm {
	display: flex;
	flex-direction: column;
	gap: 15px;
 }
 
 .label {
	display: flex;
	flex-direction: column;
	font-weight: 600;
	font-size: 1rem;
	color: hsla(213, 96%, 18%, 0.75);
	gap: 5px;
 }
 
 .label input{
	border: 1px solid hsl(229, 24%, 87%);
	border-radius: 8px;
	padding: 15px;
	width: 100%;
	color: hsl(213, 96%, 18%);
	font-size: 1.2rem;
   font-weight: 500;
 }

 .buttonWrapper{
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
 }
 .button {
	background-color: hsl(213, 96%, 18%);
	font-size: 1.2rem;
	color: white;
	border: none;
	border-radius: 6px;
	padding: 1rem 1.5rem;
	cursor: pointer;
	transition: all 0.5s;
 }
 
 
 .button:hover {
	background-color: hsl(213, 79%, 35%);
 }

 .errorMessage {
	color: #e63946;
	font-weight: 600;
	font-size: 1.3rem;
	margin-top: 8px;
	text-align: center;
 }

 .invalid {
	border: 2px solid red;
	background-color: #ffe6e6;
 }
 