.formContainer {
	max-width: 600px;
	margin: 0 auto;
	padding: 2rem;
	background: white;
	border-radius: 10px;
 }
 
 .title{
	text-align: center;
	margin-bottom: 2rem;
	color: rgb(83, 82, 82);
	/*color: #3b8bb0;*/
 }

 .buttonWrapper{
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
 }

 .errorMessage {
	color: #e63946;
	font-weight: 600;
	font-size: 1.3rem;
	margin-top: 8px;
	text-align: center;
 }

 .invalid {
	border: 2px solid red;
	background-color: #ffe6e6;
 }
 