.header{
	border-bottom: 2px solid rgb(74, 74, 74);
	padding: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
 }

 .logo{
	font-weight: 600;
	font-size: 1.5rem;
	color: rgb(74, 74, 74);
 }

 .navMenu{
	display: flex;
	gap: 2rem;
 }

 .link {
	color: rgb(74, 74, 74);
	text-decoration: none;
	font-weight: 600;
	transition: color 0.2s ease;
	line-height: 1.5;
 }
 
 .link:hover {
	color: #4ca9ca;
 }
 
 .active {
	color: #4ca9ca;
	border-bottom: 2px solid #4ca9ca;
 }