.person {
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	padding: 3rem;
	background-color: white;
	width: 100%;
	max-width: 700px;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	height: 100%;
	gap: 5px;
	cursor: pointer;
 }
 
 .person h1{
	margin-bottom: 2rem;
	color: rgb(83, 82, 82);
 }

 .reminderContainer{
	width: 100%;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
 }

 .person h2 {
	width: 100%;
	font-size: 2rem;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;
 }

 p{
	font-size: 1.2rem;
 }

 .row{
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px dashed grey;
	padding:0.5rem 1rem;
 }
 .label {
	width: 130px;
	font-weight: bold;
	color: rgb(83, 82, 82);
 }
 
 .value {
	flex: 1; 
 }
 
 
 .saveMessage {
	color: green;
	margin-bottom: 10px;
	font-weight: bold;
 }

 .buttonContainer{
	width: 100%;
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
	padding: 0 1.5rem;
	justify-content: space-between;
 }

 

 