* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: rgb(240, 245, 255);
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

:root {
  --primary-color: #4ca9ca;
  
  --secondary-color: #333;
}

#root {
  margin: 0 auto;
}

.reminder {
	padding: 0.75rem 1rem;
	border-radius: 8px;
	font-size: 0.95rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	letter-spacing: 0.2px;
	background-color: rgb(210, 245, 188);
	border: 1px solid rgb(92, 132, 67);
	font-weight: 500;
	color: rgb(87, 142, 59);
	text-align: center;
	width: 100%;
 }

 .navButton,
 .cancelBtn,
 .saveBtn {
	border: none;
	color: var(--primary-color);
	background-color: inherit;
	font-size: 1rem;
	cursor: pointer;
	font-weight: 500;
 }

 .navButton:hover,
 .cancelBtn:hover,
 .saveBtn:hover {
	text-decoration: underline;
 }

 .form{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
 }

 .form label{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-weight: 600;
	color: rgb(83, 82, 82);
 }

 .form input{
	padding: 0.5rem;
	border-radius: 6px;
	border: 1px solid #ccc;
	font-size: 1rem;	
 }

 .editBtn,
 .saveBtn {
	margin-top: auto;
	padding: 0.6rem 2rem;
	border: none;
	border-radius: 6px;
	background-color: var(--primary-color);
	color: white;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s ease;
 }

 .editBtn:hover,
 .saveBtn:hover {
	background-color: #3b8bb0;
 }		

 